.Styles{

  .container {
    width: 300px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    background-color: #a70b0b; /* Cor de fundo suave */
  }
  
}